/* Homepage.css */
.homepage {
  height: 90vh;
  width: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right top, #ff8a00, #e52e71, #9b36b7, #515ecf); */
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.burger-menu {
  display: none; /* Hidden by default */
  cursor: pointer;
}

.burger-menu .burger-bar {
  width: 25px;
  height: 3px;
  background-color: #333; /* Color for the burger bars */
  margin: 5px 0;
  transition: all 0.3s;
}

/* Toggle show class for menu */
.menu.show {
  display: flex;
}

/* Default menu styling */
.menu {
  display: none; /* Hidden by default */
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 60px; /* Adjust based on the height of your navigation */
}

.menu a,
.user-menu {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: block; /* Stack items vertically */
}

.menu a, .user-menu {
  font-size: 2rem;
  color: white;
}

/* Responsive styling */
@media (min-width: 768px) {
  .burger-menu {
    display: none; /* Hide burger and show menu on larger screens */
  }

  .menu {
    display: flex; /* Show menu inline on larger screens */
    position: relative; /* Reset position */
    top: auto;
    right: auto;
    flex-direction: row;
  }
}

.header h1 {
  margin-bottom: 2rem;
  font-size: 5rem;
}

.buttons button {
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: #ff8a00;
  color: white;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #e52e71;
}
