/* AddTracking.css */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.add-tracking {
  height: 90vh;
  width: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right top, #ff8a00, #e52e71, #9b36b7, #515ecf); */
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.tracking-form label {
  display: block;
  margin-bottom: 10px;
}

.tracking-form input {
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  padding: 8px;
  font-size: 40px;
}

.tracking-form button {
  padding: 10px 20px;
  background-color: #f8d7da;
  border: none;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
}

.on-the-way-packages {
  margin-top: 20px;
  font-size: 30px;
}

.on-the-way-packages h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.on-the-way-packages ul {
  list-style: none;
  padding: 0;
}

.on-the-way-packages li {
  /* background: #999898; */
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}
