/* MyPackages.css */

.my-packages {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 90vh; /* Take up the full viewport height */
}

.my-packages img {
  height: 90vh;
  width: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right top, #ff8a00, #e52e71, #9b36b7, #515ecf); */
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
